.draggable_axis {
    position: absolute;
    left: 50%;
    top: 23%;
}
.axis {
    width: 1px;
    height: 210px;
	opacity: 0.2;
    border-style:solid;
    background-color:black;
}

.holder { 
position: absolute;
     width: 0; 
	 height: 0;
	 border-left: 12px solid transparent; 
	 border-right: 12px solid transparent; 
	 border-top: 40px solid black; 
     left: -8px;
	 opacity: 0.5;
    cursor: move;
   } 

#gradient { 
margin-left:auto;
margin-right:auto;
padding: 15px;
width: 640px; 
height: 160px;  
margin-top:3%;
 border: 2px solid;
border-radius: 10px;
}

textarea {
display: block;
padding:15px;
height:150px;
width:560px;
text-align: left;
margin-left:auto;
margin-right:auto;
margin-top: 6%;
 border: 2px solid;
 border-radius: 10px;
background-color:#FFFFF0;


}
/*
#circle { 
   opacity: 0.3;
   width: 8px;
   height: 9px;
   background: black; 
   margin-top:-9%;
   margin-left:50%;
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
}*/


 #c1{
 float:left;
 }
 #c2{
  float:right;
 }
 h1 {
 text-align: center;
 }
 #usage {
 text-align: center;
 }

 
